# Python cache
__pycache__/
*.py[cod]
*.pyo


*.json

# HuggingFace model cache
.cache/

# Virtual environments
.venv/
venv/
env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

